@page "/people"
@using AspireDBTestApplication.PeopleDB
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject MyApiClient PeopleApi

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? people;

    protected override async Task OnInitializedAsync()
    {
        people = await PeopleApi.GetPeopleAsync();
    }
}
